.best-seller-wrapper {
  overflow: hidden;
  width: 100%;
  background: transparent;
  padding: 1rem 0;
  position: relative;
}

.best-seller-marquee {
  display: flex;
  gap: 1rem;
  width: max-content;
  animation: scroll-marquee 60s linear infinite;
}
.best-seller-wrapper:hover .best-seller-marquee {
  animation-play-state: paused;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.product-card-wrapper {
  min-width: 250px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .best-seller-marquee {
    animation-duration: 40s;
  }
}